#con{
    .item{
        margin:0 auto;
        width:300px;
        height:200px;
        line-height:200px;
        font-size:40px;
        text-align: center;
    }
}
#nav{
    a{
        padding:10px;
    }
}