#con{
    display: flex;
    justify-content: center;
    .loading{
        $colors:#7ef9ff, #89cff0, #4682b4, #0f52ba, #000080;
        height:2em;
        width:2em;
        margin:0.8em;
        border-radius: 50%;
        position: relative;
        &::before{
            content:'';
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background:inherit;
            border-radius: inherit;
            animation: wave 3s ease-in-out infinite; 
        }
        @for $li from 1 through 5{
            &:nth-child(#{$li}){
                background: nth($colors,$li);
                &::before{
                    animation-delay: $li * 0.2s;
                }
            }
        }
    }
}
@keyframes wave{
    50%,
  75% {
    transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}
.demo{
    background: darkcyan;
    color:#fff;
    height:40px;
    line-height: 20px;
    overflow: hidden;
    &::before{
        content:'';
        float:left;
    }
    .text{
        float:right;
        word-break: break-all;
        width:100%;
    }
    &::after{
        content:'...';
        float:right;
        width:20px;
        height:20px;
        position: relative;
        transform: translateY(-100%);
    }
}